:host {
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

.speeds button + button {
    margin-left: 8px;
}

.green {
    background-color: #008000cc;
}

.orange {
    background-color: #ffa500cc;
}

.red {
    background-color: #f00c;
}
